<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>miPecera.online</title>

    <link rel="apple-touch-icon" sizes="57x57" href="/images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" id="top-navbar">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand"><img height="50" src="/images/mipeceralogo.svg" style="margin-top: -15px"> </a>
                <a href="/" class="navbar-brand">miPecera.online</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout" style="color: orangered;">Cerrar sesión</a></li>
            </ul>
        </div>
    </nav>

    <div class="container" style="margin-top: 75px;">

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">Temperatura del agua</h3>
                    </div>
                    <div class="panel-body">
                        <div class="progress">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">pH del Agua</h3>
                    </div>
                    <div class="panel-body">
                        <div class="progress">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>

        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">Alimentación</h3>
                    </div>
                    <div class="panel-body">
                        <br>
                        <div class="text-center">
                            <p class="text-center varela-font" style="color:gray">Modo Automatico</p>
                            <div class="btn-group btn-group-justified " data-toggle="buttons">
                                <label class="btn btn-primary" data-toggle="tooltip" title="Sunday" data-container="body">
                                    <input type="checkbox" name="options" id="option1" autocomplete="off">S
                                </label>
                                <label class="btn btn-primary" data-toggle="tooltip" title="Monday" data-container="body">
                                    <input type="checkbox" name="options" id="option2" autocomplete="off">M
                                </label>
                                <label class="btn btn-primary" data-toggle="tooltip" title="Tuesday" data-container="body">
                                    <input type="checkbox" name="options" id="option3" autocomplete="off">T
                                </label>
                                <label class="btn btn-primary" data-toggle="tooltip" title="Wednesday" data-container="body">
                                    <input type="checkbox" name="options" id="option3" autocomplete="off">W
                                </label>
                                <label class="btn btn-primary" data-toggle="tooltip" title="Thursday" data-container="body">
                                    <input type="checkbox" name="options" id="option3" autocomplete="off">T
                                </label>
                                <label class="btn btn-primary" data-toggle="tooltip" title="Friday" data-container="body">
                                    <input type="checkbox" name="options" id="option3" autocomplete="off">F
                                </label>
                                <label class="btn btn-primary" data-toggle="tooltip" title="Saturday" data-container="body">
                                    <input type="checkbox" name="options" id="option3" autocomplete="off">S
                                </label>
                            </div>
                        </div>
                        <br>
                        <p class="text-center varela-font" style="color:gray">Modo Manual</p>
                        <div class="text-center">

                            <div class="btn-group btn-group-lg " role="group" aria-label="...">
                                <a type="button" class="btn btn-success" data-toggle="tooltip" title="Open Valve" data-container="body" onclick="feed(1)">Alimentar Ahora</a>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>

</html>
